.stretch-button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition : padding-top 0.15s,
    padding-bottom 0.15s,
    padding-left 0.15s,
    padding-right 0.15s;
}

.stretch-button:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
}


.shadow-button {
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow 0.15s;
}

.shadow-button:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}


.nums-button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
  transition : padding 0.15s,
    margin 0.15s;
}

.nums-button:hover {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
}